<footer class="ba-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<ul class="nav navbar-nav ba-footer-menu">
					<li><a href="#" class="active">Home</a></li>
					<li><a href="#">About</a></li>
					<li ><a href="#">Blog</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Contacts</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<div class="ba-footer__content">
					<p>Created by akhouad 2016. All Rights Reserved</p>
					<ul class="ba-social">
						<li><a href="#"><i class="ba-social__icon ion-social-facebook"></i></a></li>
						<li><a href="#"><i class="ba-social__icon ion-social-twitter"></i></a></li>
						<li><a href="#"><i class="ba-social__icon ion-social-youtube"></i></a></li>
						<li><a href="#"><i class="ba-social__icon ion-social-linkedin"></i></a></li>
						<li><a href="#"><i class="ba-social__icon ion-social-pinterest"></i></a></li>
						<li><a href="#"><i class="ba-social__icon ion-social-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
